*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

body{
  background:linear-gradient(135deg,#fff3e0,#ffe5ec);
}

nav{
  background-color:darkred;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  box-shadow:0 2px 8px rgba(0,0,0,0.3);
  position:sticky;
  top:0;
  z-index:10;
}

.logo{
  color:white;
  font-size:24px;
  font-weight:bold;
  letter-spacing:1px;
  cursor:pointer;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-size:16px;
  font-weight:500;
  position:relative;
  transition:color 0.3s ease;
}

nav a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-5px;
  width:0;
  height:2px; 
  background:blue;
  transition:width 0.3s ease;
}

nav a:hover{
  color:#ffb6b9;
}

nav a:hover::after{
  width:100%;
}

h2{
  text-align:center;
  margin:50px 0 20px;
  color:#d84315;
  font-size:2.2em;
}

.menu{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
  padding:0 40px 60px;
}

.card{
  background:rgb(250, 246, 246);
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
  transition:transform 0.3s;
}

.card:hover{
  transform:translateY(-8px);
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card-body{
  text-align:center;
  padding:20px;
}

.card-title{
  color:red;
  font-size:1.3em;
  font-weight:600;
  margin-bottom:10px;
}

.price{
  font-weight:bold;
  color:#e63946;
  margin-bottom:15px;
}

.btn{
  background-color:#ff7043;
  color:white;
  border:none;
  padding:10px 25px;
  border-radius:25px;
  cursor:pointer;
}

.btn:hover{
  background-color:#bf360c;
}

footer{
  text-align:center;
  padding:20px;
  background:darkred;
  color:white;
  font-size:0.9em;
}

@media(max-width:600px){
  nav{
    flex-direction:column;
    text-align:center;
  }
}